.container {
    padding: 20px 0;
    background: rgba(var(--black), 1);
    height: 100px;
    width: 100%;
    margin-top: auto;

    .wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo {
        width: 125px;
    }

    .sm {
        display: flex;
        gap: 35px;

        &Item {
            display: flex;
            align-items: center;
            gap: 10px;
        }
    }

    @media screen and (max-width: 768px) {
        height: auto !important;
        padding-bottom: 50px;

        .wrapper {
            display: flex;
            flex-direction: column;
            gap: 15px;
            align-items: center;

            .sm {
                display: flex;
                flex-direction: column;
                gap: 15px;
                align-items: center;
            }
        }
    }
}

@media screen and (max-width: 1600px) {
    .container {
        padding: 12px 0 35px;
        height: 70px;

        .logo {
            width: 95px;
        }
    }
}