.solutionContent {
    padding: 30px 45px;

    background-color: rgba(var(--gray3), 1);
    border-radius: 50px;
    margin: 0 -30px -60px;

    .solutionTitle {
        background-color: rgba(var(--white), 1);
        border-radius: 100px;
        padding: 25px 30px;
        margin: 0 -30px;
        font-weight: 500;
    }

    .solutionDescription {
        margin: 40px 0;

        p {
            margin: 10px 0;
        }
    }

    .solution {
        p {
            margin: 0 30px;
        }

        .textarea {
            margin: 20px 0 10px;

            textarea {
                height: 400px;
            }
        }

        .underdescription {
            .length {
                display: flex;
                justify-content: flex-end;
            }
        }

    }

    .applyButton {
        width: 100%;
        margin-top: 40px;
    }
}

@media (max-width: 1600px) {
    .solutionContent {
        padding: 15px 20px 20px;
        margin: 0 -20px -30px;

        .solution {
            p {
                margin-left: 0;
            }
        }

        .solutionTitle {
            margin: 0;
            padding: 20px 15px;
        }
    }
}

@media (max-width: 1200px) {
    .solutionContent {
        .header {
            padding: 15px 25px;
        }

        .textarea {
            height: 200px;
        }
    }
}

@media (max-width: 1024px) {
    .solutionContent {


        .solutionTitle {
            padding: 8px 15px;
        }
    }
}

@media (max-width: 600px) {
    .solutionContent {
        border-radius: 20px;
        padding: 15px 20px;
        margin: 0 -20px -25px;

        .solutionDescription {
            margin: 20px 0;
        }
    }
}

@media (max-width: 425px) {
    .solutionContent {
        border-radius: 20px;
    }
}