.container {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;

    .charContainer {
        display: flex;
        flex-direction: column;
        gap: 5px;
        align-items: center;
        height: 75px;

        .char {
            font-size: 64px;
            line-height: 64px;
            font-weight: 500;
            font-weight: 300;
            color: rgba(var(--black), 1);
            transition: .3s;

            &.hide {
                opacity: 0;
            }

            &.active {
                color: rgba(var(--green), 1);
            }
        }

        .charLine {
            width: 100px;
            margin-top: auto;
            height: 5px;
            border-radius: 3px;
            background-color: rgba(var(--black), 1);
            transition: .3s;

            &.active {
                background-color: rgba(var(--green), 1);
            }
        }
    }
}

@media screen and (max-width: 595px) {
    .container {
        gap: 5px;

        .charContainer { 
            height: 50px;
            gap: 3px;

            .char {
                font-size: 40px;
                line-height: 40px;
            }

            .charLine {
                width: 60px;
                height: 3px;
            }
        }
    }
}

.input {
    padding: 15px 20px;
    font-size: 34px;
    letter-spacing: 10px;
    width: 300px;
}