.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    .levels {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }

    .level {
        border-radius: 15px;
        padding: 20px 40px 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 30px;

        .header {
            margin: 0 -30px;
            padding: 15px 30px;
            border-radius: 30px;
        }

        .description {
            white-space: pre-line;
        }
    }
}

@media (max-width: 900px) {

}