.sidebar {
    width: 40%;
    max-width: 500px;
    height: calc(70vh - 2px);
    background-color: rgba(var(--white), 1);
    padding: 30px 15px;
    border-right: 2px solid rgba(var(--gray2), 1);
    overflow: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: auto;
}
