.chatLink {
    text-decoration: none;
    color: inherit;
}

.content {
    display: flex;
    position: relative;
    flex: 1;
}

.chatContainer {
    margin-top: -40px;
}

.chatList {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

@media screen and (max-width: 1800px) {
    .chatList {
        gap: 10px;
    }
}


@media screen and (max-width: 1024px) {
    .chatContainer {
        height: 100%;
        padding: 0;
    }
}

.mobileContainer {
    width: 100%;
}