.container {
    .taskHeader {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-bottom: 50px;
        position: relative;

        .backButton {
            display: flex;
            align-items: center;
            position: absolute;
            left: 0px;

            .img {
                margin-left: 0px;
                margin-right: 5px;
                transform: translateX(0px);
                transition: margin-left 0.3s ease-in-out, transform 0.3s ease-in-out;
            }

            &:hover {
                .img {
                    margin-left: 15px;
                    transform: translateX(-10px);
                    transition: margin-left 0.3s ease-in-out, transform 0.3s ease-in-out;

                }

            }


        }
    }

    .taskContent {
        display: flex;
        .templates {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 20px;

            .templateButton {
                width: 400px;
            }
        }

        .createTask {
            margin-left: 50px;
            display: flex;
            flex-direction: column;
            text-align: justify;
            gap: 20px;

            .taskForm {
                margin-bottom: 50px;
                border-radius: 20px;
                border: 1px solid rgba(var(--gray2), 1);
                padding: 50px 30px;

                p {
                    margin-bottom: 10px;
                }

                .textName {
                    margin-bottom: 50px;
                }

                .textarea {
                    height: 200px;
                }

                .underdescription {
                    margin: 10px 0 50px 0;
                    display: flex;
                    justify-content: space-between;
                }
                .selects {
                    display: flex;
                    gap: 20px;

                    .select {
                        .filters {
                            margin-bottom: 20px;
                            display: flex;
                            align-items: center;
                            flex-wrap: wrap;
                        }
                    }
                }
            }

            .submitButtons {
                display: flex;
                justify-content: center;
                margin-top: 50px;
                gap: 20px;
                .submitButton {
                    width: 400px;
                }
            }
        }
    }
}