.button {
    border-radius: 30px;
    padding: 15px 50px;
    font-size: 20px;
    line-height: 20px;
    font-weight: 500;
    transition: .3s;
    cursor: pointer;
    border: none;
    height: 50px;
    // font-family: '__gilroy_a5be43';

    &.disabled {
        cursor: default;
        opacity: .6;
    }

    &.loading {
        height: 52px;
        width: 190px;
        transition: 0s !important;
        padding: 10px 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &.primary {
        background-color: transparent;
        color: rgba(var(--black), 1);
        border: 1px solid rgba(var(--black), 1);

        &:hover {
            background-color: rgba(var(--black), 1);
            color: rgba(var(--white), 1);
        }

        &.disabled:hover {
            background-color: rgba(var(--white), 1);
            color: rgba(var(--black), 1);
            border: 1px solid rgba(var(--black), 1);
        }
    }

    &.secondary {
        background-color: rgba(var(--black), 1);
        color: rgba(var(--white), 1);

        &:hover {
            background-color: rgba(var(--gray1), 1);
        }

        &.disabled:hover {
            background-color: rgba(var(--black), 1);
            color: rgba(var(--white), 1);
        }
    }

    &.icon {
        background: rgba(var(--light-gray), 1);
        color: rgba(var(--black), 1);
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 10px 50px;

        img {
            width: 30px;
            height: 30px;
        }

        &:hover {
            box-shadow: 0 0 2px rgba(var(--black), 1);
        }

        &.disabled:hover {
            box-shadow: none;
        }
    }

    &.ban {
        background-color: rgba(var(--white), 1);
        color: rgba(var(--black), 1);
        border: 1px solid rgba(var(--black), 1);

        &:hover {
            background-color: rgba(var(--red), 1);
            border: 1px solid rgba(var(--red), 1);
            color: rgba(var(--white), 1);
        }

        &.disabled:hover {
            background-color: rgba(var(--red), 1);
            color: rgba(var(--white), 1);
        }
    }

    &.unban {
        background-color: rgba(var(--white), 1);
        color: rgba(var(--black), 1);
        border: 1px solid rgba(var(--black), 1);

        &:hover {
            background-color: rgba(var(--green), 1);
            border: 1px solid rgba(var(--green), 1);
            color: rgba(var(--white), 1);
        }

        &.disabled:hover {
            background-color: rgba(var(--green), 1);
            color: rgba(var(--white), 1);
        }
    }

    @media (max-width: 768px) {
        padding: 15px 20px;
    }
}

@media screen and (max-width: 1600px) {
    .button {
        padding: 12px 28px;
        font-size: 18px !important;
        height: auto;
    }
}

@media screen and (max-width: 1200px) {
    .button {
        padding: 8px 24px;
        font-size: 16px !important;
        height: auto;
    }
}


@media screen and (max-width: 595px) {
    .button {
        padding: 8px 15px;
        font-size: 14px !important;
    }
}