.studentRequest {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 20px;
    border-radius: 40px;

    .info {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 20px;

        .header {
            display: flex;
            gap: 20px;
            align-items: center;
            margin-bottom: 20px;

            .avatar {
                width: 120px;
                height: 120px;
                border-radius: 50%;
                background-color: rgba(var(--gray3), 1);
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .firstInfo {
                display: flex;
                flex-direction: column;

                .name {
                    display: flex;
                    flex-direction: row;
                    gap: 10px;
                }
            }

        }

        .description {
            .infoBlock {
                margin-bottom: 20px;

                .title {
                    margin-bottom: 10px;
                }

                .info {
                    display: flex;
                    flex-direction: row;
                    margin-bottom: 10px;
                    flex-wrap: wrap;
                }


                .documents {
                    display: flex;
                    flex-direction: row;
                    gap: 20px;

                    .documentItem {
                        padding: 20px;
                        border-radius: 40px;
                        border: 1px solid rgba(var(--gray2), 1);
                        padding: 20px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
        }

    }

    .buttons {
        display: flex;
        justify-content: center;
        gap: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
        .button {
            width: 500px;
        }
    }
}