:root {
    --white: 255, 255, 255;
    --black: 25, 40, 44;
    --green: 124, 186, 144;
    --gray1: 91, 95, 96;
    --gray2: 213, 213, 213;
    --gray3: 245, 245, 245;
    --blue: 110, 148, 206;
    --red: 221, 101, 101;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hide {
    position: absolute;
    opacity: 0;
    z-index: -100;
}

img {
    max-width: 100%;
    max-height: 100%;
}

a {
    color: rgba(var(--black), 1);
    text-decoration: none;
}

.text {
    font-size: 24px;
    line-height: 28px;
    font-weight: 300;

    &.blue {
        color: rgba(var(--blue), 1);
    }

    &.center {
        text-align: center;
    }

    &.pointer {
        cursor: pointer;
    }

    &.under {
        text-decoration: underline;
    }

    &.fw300 {
        font-weight: 300;
    }

    &.fw500 {
        font-weight: 500;
    }

    &.fz20 {
        font-size: 20px;
        line-height: 24px;
    }

    &.fz16 {
        font-size: 16px;
        line-height: 20px;
    }
}

.title {
    font-size: 32px;
    line-height: 36px;
    font-weight: 500;

    &.fz36 {
        font-size: 36px;
        line-height: 44px;
        font-weight: 300;
    }

    &.fz48 {
        font-size: 48px;
        line-height: 56px;
        font-weight: 500;
    }
}

.button {
    border-radius: 30px;
    padding: 15px 50px;
    font-size: 20px;
    line-height: 20px;
    font-weight: 500;
    transition: all 0.3s ease-in-out;

    &.primary {
        background-color: rgba(var(--white), 1);
        color: rgba(var(--black), 1);
        border: 1px solid rgba(var(--black), 1);

        &:hover {
            background-color: rgba(var(--black), 1);
            color: rgba(var(--white), 1);
        }
    }

    &.secondary {
        background-color: rgba(var(--black), 1);
        color: rgba(var(--white), 1);

        &:hover {
            background-color: rgba(var(--gray1), 1);
        }
    }

    &.icon {
        background: rgba(var(--gray3), 1);
        color: rgba(var(--black), 1);
        display: flex;
        gap: 10px;

        img {
            width: 30px;
            height: 30px;
        }

        &:hover {
            background-color: rgba(var(--gray1), 1);
            color: rgba(var(--white), 1);
        }
    }
}