.container {
    display: flex;
    align-items: flex-start;
    gap: 80px;
    margin-top: 85px;
    margin-bottom: 40px;
}

.profileContent {
    width: 100%;
}

@media screen and (max-width: 1200px) {
    .container {
        margin-top: 30px;
        gap: 40px;
    }
}