
.layout {
    display: flex;
    margin: 40px 0;
    max-height: 900px;
    background-color: rgba(var(--white), 1);
    border: 2px solid rgba(var(--gray2), 1);
    border-radius: 40px;
}

.sidebar {
    width: 30%;
    max-width: 500px;
    background-color: rgba(var(--white), 1);
    padding: 30px;
    margin: 10px;
    border-right: 2px solid rgba(var(--gray2), 1);
    overflow: auto;
}

.search {
    position: sticky;
    top: 0;
    margin-bottom: 20px;

    input {
        width: 100%;
        padding: 10px 15px;
        border: 1px solid rgba(var(--gray2), 1);
        border-radius: 30px;

        &::placeholder {
            color: rgba(var(--gray2), 1);
        }
    }
}

.chatLink {
    text-decoration: none;
    color: inherit;
}

.content {
    display: flex;
    position: relative;
    flex: 1;
}