.container {
    border-radius: 50px;
    padding: 80px 40px 40px;
    background: rgba(var(--black), 1);
    display: flex;
    flex-direction: column;
    gap: 20px;

    .avatar {
        margin-top: -130px;
        margin: -140px auto 0;
        width: 180px;
        height: 180px;
        display: flex;
        border: 3px solid rgba(var(--white), 1);
        border-radius: 50%;
        align-items: center;
        position: relative;
        transition: .3s;

        .avatarImg {
            border-radius: 50%;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &.editable {
            cursor: pointer;

            &:hover {
                .edit {
                    transform: scale(1.20);
                }
            }

            .edit {
                position: absolute;
                width: 40px;
                height: 40px;
                right: 5%;
                bottom: 5%;
                transition: .3s;
            }
        }

    }

    .mail {
        position: relative;
        z-index: 5;
        margin-top: 20px;
        text-align: center;
        margin-bottom: -40px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 200px;
    }

    .pages {
        display: flex;
        padding: 50px 0;
        flex-direction: column;
        gap: 15px;
        overflow: hidden;
        margin-right: -40px;

        .page {
            transition: .3s;
            background: rgba(var(--black), 1);
            padding: 25px 50px;
            cursor: pointer;
            position: relative;
            border-top-left-radius: 50px;
            border-bottom-left-radius: 50px;

            &:hover {
                background: rgba(var(--white), .1);
            }

            .text {
                z-index: 2;
                position: relative;
                transition: .3s;
                white-space: nowrap;
            }

            &.active {
                .text {
                    color: rgba(var(--black), 1);
                }
            }

            .activePanel {
                z-index: 1;
                border-top-left-radius: 50px;
                border-bottom-left-radius: 50px;
                position: absolute;
                width: 100%;
                height: 100%;
                transform: translateX(100%);
                background: white;
                transition: .3s;
                top: 0;
                left: 0;

                &.active {
                    transform: translateX(0);
                }

                &:before,
                &:after {
                    content: '';
                    width: 50px;
                    height: 50px;
                    right: -1px;
                    position: absolute;
                    background: rgba(var(--black), 1);
                    z-index: 2;
                    transition: background .3s;
                    opacity: 0;
                    clip-path: polygon(100% 0%, 100% 0%, 98.691% 16.22%, 94.902% 31.608%, 88.838% 45.956%, 80.706% 59.059%, 70.711% 70.711%, 59.059% 80.706%, 45.956% 88.838%, 31.608% 94.902%, 16.22% 98.691%, 0% 100%, 100% 100%, 100% 0%);
                }

                &:before {
                    top: -49px;
                }

                &:after {
                    transform: scaleY(-1);
                    bottom: -49px;
                }

                &.active {

                    &:before,
                    &:after {
                        opacity: 1;
                        background: rgba(var(--white), 1);
                    }
                }
            }
        }
    }

    .logout {
        margin-top: -40px;
        padding: 25px 50px;
        border-radius: 50px;
        cursor: pointer;
        transition: .3s;

        &:hover {
            background: rgba(var(--white), .2);
        }
    }
}