.container {
    padding-bottom: 20px;
    margin-top: 35px;

    .deadline {
        display: flex;
        // align-items: center;
        gap: 10px;

        p {
            margin-top: 10px;
        }

        &Input {
            width: 150px;

            input {
                border-radius: 10px;
            }
        }
    }

    .taskHeader {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-bottom: 50px;
        position: relative;


    }

    .taskContent {
        width: 100%;
        display: grid;
        // grid-template-columns: 1fr 3fr;
        grid-template-columns: 1fr;
        gap: 50px;

        .templates {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 20px;

            .templateButton {
                height: auto !important;
                width: 100%;
            }
        }

        .createTask {
            display: flex;
            flex-direction: column;
            gap: 20px;

            .taskForm {
                margin-bottom: 50px;
                border-radius: 20px;
                border: 1px solid rgba(var(--gray2), 1);
                padding: 50px 30px;

                >p {
                    margin-bottom: 10px;
                }

                .textName {
                    margin-bottom: 50px;
                }

                // .textarea {
                //     height: 200px;
                // }

                .underdescription {
                    margin: 10px 0 50px 0;
                    display: flex;
                    justify-content: space-between;
                }

                .errorText {
                    margin-top: 10px;
                    opacity: 0;
                    transform: translateX(-20px);
                    animation: fadeIn 0.4s forwards;

                    @keyframes fadeIn {
                        from {
                            opacity: 0;
                            transform: translateX(-20px);
                        }

                        to {
                            opacity: 1;
                            transform: translateX(0);
                        }
                    }
                }

                .selects {
                    display: flex;
                    justify-content: space-between;
                    transition: all 0.3s ease-in-out;

                    .select {
                        width: 30%;

                        >p {
                            margin-bottom: 10px;
                        }

                        .filterContainer {
                            margin-bottom: 20px;
                            display: flex;
                            align-items: center;
                            flex-wrap: wrap;

                            >p {
                                margin-bottom: 10px;
                            }

                            &.active {
                                position: relative;
                                z-index: 20;

                                .filter {
                                    z-index: 30;
                                }
                            }

                            .filter {
                                width: 100%;
                                position: relative;
                            }
                        }

                        // &.error {
                        //     border: 1px solid rgba(var(--red), 1);
                        //     border-radius: 20px;
                        //     padding: 10px;

                        //     &:hover {
                        //         border: 1px solid rgba(var(--white), 1);
                        //         border-radius: 20px;
                        //         padding: 10px;
                        //     }
                        // }
                    }
                }
            }

            .submitButtons {
                display: flex;
                justify-content: space-between;
                margin-top: 50px;
                gap: 20px;

                >button {
                    width: 100%;
                }
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .container {
        .templates {
            .templateButton {
                padding: 7px 10px;
            }
        }

        .taskContent {
            gap: 20px;

            .createTask {
                .taskForm {
                    padding: 20px;

                    .textName {
                        margin-bottom: 5px;
                    }

                    .underdescription {
                        margin: 5px 0;
                    }

                    .selects {
                        .select {
                            >p {
                                margin-bottom: 5px;
                            }

                            .filterContainer {
                                >p {
                                    margin-bottom: 5px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .container {
        .taskContent {
            grid-template-columns: 1fr;

            .templates {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .container {
        margin-top: 15px;

        .taskHeader {
            margin-bottom: 15px;

            >p {
                padding-top: 22px;
            }
        }

        .selects {
            flex-direction: column;
            gap: 10px;

            .select {
                width: 100% !important;
            }

            .deadline {
                display: flex;
                justify-content: center;
            }
        }

        .deadlineTitle {
            text-align: center;
        }

        .catTitle {
            text-align: center;
        }
    }
}