.solutions {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 25px 45px 30px;
    margin: 0 -30px -30px;
    border-radius: 50px;
    background: rgba(var(--gray3), 1);

    .header {
        background: rgba(var(--white), 1);
        padding: 25px;
        margin: 0 -5px;
        border-radius: 40px;
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        gap: 20px;

        &.company {
            grid-template-columns: 1.5fr 3fr 1fr 2fr;
            gap: 10px;
        }
    }

    .centerContent {
        padding: 80px 0;
        display: flex;
        justify-content: center;
    }

    .solutionsFilters {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 30px;
        margin-bottom: 20px;

        >div {
            display: flex;
            gap: 50px;
            align-items: center;

            >div {
                gap: 15px;
                display: flex;
                align-items: center;
            }
        }
    }

    .solutionDescription {
        p {
            display: -webkit-box;
            -webkit-line-clamp: 3;
            margin-right: 25px;
            line-clamp: 3;
            -webkit-box-orient: vertical;
            max-width: 450px;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        display: flex;
        align-items: center;
        height: 100%;
    }

    .solutionsList {
        display: flex;
        flex-direction: column;
        gap: 15px;

        .status {
            gap: 15px;
            display: flex;
            align-items: center;
            filter: brightness(.8);

            &.pending {
                color: rgba(var(--yellow), 1);
            }

            &.completed {
                color: rgba(var(--green), 1);
            }

            &.failed {
                color: rgba(var(--red), 1);
            }
        }

        .solutionItem {
            // display: flex;
            display: grid;
            background: rgba(var(--white), 1);
            grid-template-columns: 2fr 1fr 1fr;
            // flex-direction: column;
            gap: 20px;
            padding: 10px 20px;
            border-radius: 40px;
            // border: 2px solid rgba(var(--gray2), 1);

            &.company {
                grid-template-columns: 1.5fr 3fr 1fr 2fr;
                gap: 10px;
            }

            .button {
                display: flex;
                align-items: center;
                margin-left: auto;

                button {
                    margin: 0;
                    white-space: nowrap;
                }
            }
        }

        &.company {
            .button {
                button {
                    padding: 15px 20px;
                }
            }
        }

        .solutionTitle {
            margin-bottom: 10px;
        }

        .solutionUser {
            overflow: hidden;
            gap: 15px;
            align-items: center;
            display: flex;
            align-items: center;
            padding: 5px 10px;
            margin-right: auto;
            border-radius: 10px;
            transition: .3s;

            &:hover {
                background: rgba(var(--gray3), 1);
            }

            p {
                display: -webkit-box;
                -webkit-line-clamp: 2;
                /* Number of lines */
                line-clamp: 2;
                /* Number of lines */
                -webkit-box-orient: vertical;
                max-width: 850px;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}

@media screen and (max-width: 1600px) {
    .solutions {
        padding: 15px 20px 20px;
        margin: 0 -20px -20px;
    }
}

@media screen and (max-width: 1600px) {
    .solutions {
        .header {
            padding: 15px 25px;
        }
    }
}

@media screen and (max-width: 650px) {
    .solutions {
        .header {
            display: none;
        }

        .solutionsList {
            gap: 25px;

            .solutionItem {
                position: relative;

                &:not(:first-child) {
                    &:before {
                        content: "";
                        width: 100%;
                        top: -13px;
                        position: absolute;
                        height: 1px;
                        border-top: 1px solid rgba(var(--gray1), .3);
                    }
                }

                display: flex;
                flex-direction: column;
                align-items: center;

                .button {
                    margin-left: 0;
                }
            }
        }
    }
}