// Осторожно, насрано

.chatContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    // border-radius: 40px;
    padding: 20px;
    background-color: #f5f5f5;
  }
  
  .chatHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    margin: -20px -20px 20px;
    background-color: #ffffff;
    border-radius: 10px;
    margin-bottom: 20px;
  
    .userInfo {
      display: flex;
      align-items: center;
  
      .avatar {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 10px;
      }
  
      .userName {
        font-size: 20px;
        font-weight: 500;
      }
  
      .userStatus {
        color: #4caf50;
        font-size: 14px;
      }
    }
  
    .chatActions {
      display: flex;
      gap: 25px;
      
      img {
        cursor: pointer;
        width: 28px;
        transition: .3s;

        &:hover {
          filter: brightness(.7);
        }
      }
  
      span {
        cursor: pointer;
        font-size: 24px;
      }
    }
  }
  
  .pinnedMessage {
    padding: 15px;
    background-color: #e0e0e0;
    border-radius: 10px;
    margin-bottom: 20px;
  
    strong {
      display: block;
      margin-bottom: 5px;
    }
  
    p {
      margin: 0;
      font-size: 14px;
      color: #333;
    }
  }
  
  .chatMessages {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
    padding-right: 10px;
  
    .incomingMessage,
    .outgoingMessage {
      padding: 15px;
      border-radius: 10px;
      max-width: 60%;
      font-size: 14px;
      position: relative;
    }
  
    .incomingMessage {
      background-color: #ffffff;
      align-self: flex-start;
      color: #000;
    }
  
    .outgoingMessage {
      background-color: #3a3b3c;
      align-self: flex-end;
      color: #fff;
    }
  
    .messageTime {
      font-size: 17px;
      margin-top: 5px;
      text-align: right;
      color: #777;
    }
  }
  
  .messageInput {
    display: flex;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 20px;
    align-items: center;
    margin-top: 20px;
  
    input {
      flex: 1;
      padding: 10px;
      border: none;
      border-radius: 20px;
      font-size: 16px;
      outline: none;
    }
  
    .inputActions {
      display: flex;
      gap: 10px;
      margin-left: 10px;
  
      span {
        cursor: pointer;
        font-size: 24px;
      }
    }
  }
  