.project {
    margin-bottom: 50px;

    .projectHeader {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 0px 0px 50px 0px;
        position: relative;

        .backButton {
            display: flex;
            align-items: center;
            position: absolute;
            left: 0px;

            .img {
                margin-left: 0px;
                margin-right: 5px;
                transform: translateX(0px);
                transition: margin-left 0.3s ease-in-out, transform 0.3s ease-in-out;
            }

            &:hover {
                .img {
                    margin-left: 15px;
                    transform: translateX(-10px);
                    transition: margin-left 0.3s ease-in-out, transform 0.3s ease-in-out;

                }

            }
        }


        .projectInfo {

            .title {
                margin-bottom: 10px;
            }

            .author {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;
            }

        }
    }

    .projectDescription {
        .text {
            text-align: justify;
            margin-bottom: 50px;
        }
    }

    .projectFiles {
        .file {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;

            img {
                height: 400px;
            }
        }

        .swiper-pagination {
            bottom: 0px !important;

            &-bullet {
                transition: .3s;
                background-color: rgba(var(--gray1), 0.5);
                opacity: 0.5;
                width: 12px;
                height: 12px;
                margin: 0 8px;


                &-active {
                    background-color: rgba(var(--gray1), 1);
                    opacity: 1;
                }
            }
        }
    }
}

@media screen and (max-width: 840px) {
    .project {
        .projectDescription {
            .text {
                margin-bottom: 20px;
            }
        }

        .projectFiles {
            .file {
                img {
                    width: 90vw;
                    height: auto;
                }
            }
        }
    }
}

@media screen and (max-width: 425px) {
    .project {
        margin-bottom: 30px;

        .projectInfo {
            margin-top: 30px;
        }

        .projectHeader {
            margin-bottom: 20px;
        }
    }
}