@import "select-search";

:root {
    --white: 255, 255, 255;
    --black: 25, 40, 44;
    --green: 124, 186, 144;
    --gray1: 91, 95, 96;
    --gray2: 213, 213, 213;
    --gray3: 245, 245, 245;
    --blue: 110, 148, 206;
    --red: 221, 101, 101;
    --yellow: 253, 245, 169;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin-top: 140px;
}

.hide {
    position: absolute;
    opacity: 0;
    z-index: -100;
}

button,
input {
    font-family: inherit;
}

.centerContent {
    width: 100%;
    height: 100%;
    min-height: 500px;
    display: grid;
    place-items: center;
}

.modal-opened {
    overflow: hidden;
    padding-right: 20px;
    // transition: .3s;
}

@media (max-width: 768px) {
    .modal-opened {
        padding-right: 0;
    }
}

#react-portal-wrapper {
    z-index: 30;
    position: fixed;
    min-width: 100vw;
    height: 40px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    bottom: 0;
}

img {
    max-width: 100%;
    max-height: 100%;
}

a {
    color: rgba(var(--black), 1);
    text-decoration: none;
}

.container {
    max-width: 1720px;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
}


.selectLayout {
    display: flex;
    margin: 40px 0;
    max-height: 700px;
    background-color: rgba(var(--white), 1);
    border: 2px solid rgba(var(--gray2), 1);
    border-radius: 40px;
    overflow-y: auto;
}


.text {
    font-size: 24px;
    line-height: 28px;
    font-weight: 300;

    &.blue {
        color: rgba(var(--blue), 1);
    }

    &.red {
        color: rgba(var(--red), 1);
    }

    &.green {
        color: rgba(var(--green), 1);
    }

    &.white {
        color: rgba(var(--white), 1);
    }

    &.center {
        text-align: center;
    }

    &.pointer {
        cursor: pointer;
    }

    &.under {
        text-decoration: underline;
    }

    &.gray {
        color: rgba(var(--gray1), 1);
    }


    &.fw300 {
        font-weight: 300;
    }

    &.fw500 {
        font-weight: 500;
    }

    &.fz20 {
        font-size: 20px;
        line-height: 24px;
    }

    &.fz16 {
        font-size: 16px;
        line-height: 20px;
    }
}

.title {
    font-size: 32px;
    line-height: 36px;
    font-weight: 500;

    &.fz28 {
        font-size: 28px;
        line-height: 32px;
        font-weight: 300;
    }

    &.fz36 {
        font-size: 36px;
        line-height: 44px;
        font-weight: 300;
    }

    &.fz48 {
        font-size: 48px;
        line-height: 56px;
        font-weight: 500;
    }

    &.under {
        text-decoration: underline;
    }
}

@media (max-width: 1400px) {
    .text {
        font-size: 22px;
        line-height: 26px;

        &.fz20 {
            font-size: 18px;
            line-height: 22px;
        }        
        &.fz16 {
            font-size: 14px;
            line-height: 18px;
        }
    }

    .title {
        font-size: 30px;
        line-height: 34px;

        &.fz28 {
            font-size: 26px;
            line-height: 42px;
        }
        &.fz36 {
            font-size: 34px;
            line-height: 32px;
        }
        &.fz48 {
            font-size: 46px;
            line-height: 42px;
        }
    }
}

@media (max-width: 1200px) {
    .text {
        font-size: 20px;
        line-height: 22px;

        &.fz20 {
            font-size: 16px;
            line-height: 18px;
        }        
        &.fz16 {
            font-size: 12px;
            line-height: 14px;
        }
    }

    .title {
        font-size: 26px;
        line-height: 30px;

        &.fz28 {
            font-size: 22px;
            line-height: 38px;
        }
        &.fz36 {
            font-size: 30px;
            line-height: 28px;
        }
        &.fz48 {
            font-size: 42px;
            line-height: 38px;
        }
    }
}

@media (max-width: 1024px) {
    .text {
        font-size: 20px;
        line-height: 22px;

        &.fz20 {
            font-size: 16px;
            line-height: 18px;
        }        
        &.fz16 {
            font-size: 12px;
            line-height: 14px;
        }
    }

    .title {
        font-size: 22px;
        line-height: 26px;

        &.fz28 {
            font-size: 18px;
            line-height: 34px;
        }
        &.fz36 {
            font-size: 26px;
            line-height: 24px;
        }
        &.fz48 {
            font-size: 38px;
            line-height: 34px;
        }
    }
}

@media (max-width: 768px) {
    .text {
        font-size: 18px;
        line-height: 20px;

        &.fz20 {
            font-size: 14px;
            line-height: 16px;
        }        
        &.fz16 {
            font-size: 10px;
            line-height: 12px;
        }
    }

    .title {
        font-size: 20px;
        line-height: 24px;

        &.fz28 {
            font-size: 16px;
            line-height: 32px;
        }
        &.fz36 {
            font-size: 24px;
            line-height: 22px;
        }
        &.fz48 {
            font-size: 32px;
            line-height: 32px;
        }
    }
}