.container {
    width: 1720px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 40px;

    h2 {
        margin: 0 0 80px 20px;
    }
}

.mainContainer {
    display: flex;
    flex-direction: row;
}

.sidebar {
    width: 400px;
    background-color: rgba(var(--white), 1);
    padding: 30px;
    margin-right: 20px;
    border-radius: 40px;
    border: 2px solid rgba(var(--gray2), 1);
}

.filters h3 {
    margin-bottom: 20px;
}

.filterGroup {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    .filterLabel {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 10px;
        cursor: pointer;
    }
}

.filterGroup h4 {
    margin-bottom: 20px;
}


.applyButton,
.clearButton {
    margin: 0px 0px 10px 0px;
    width: 100%;
}

.mainContent {
    flex-grow: 1;
}

.topPanel {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}


.sorting {
    display: flex;
    align-items: center;
    span {
        margin-right: 10px;
    }
    .sortingsSelect {
        overflow: auto;
    }
}

.taskList {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.taskCard {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.taskHeader {
    display: flex;
    justify-content: space-between;
}

.companyInfo {
    display: flex;
    align-items: center;
}

.companyLogo {
    width: 40px;
    height: 40px;
    background-color: #007bff;
    border-radius: 50%;
    margin-right: 10px;
}

.taskTitle {
    font-size: 18px;
    font-weight: 500;
}

.taskStatus {
    color: #28a745;
}

.taskDescription p {
    margin: 20px 0;
}

.taskFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.proposeButton {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.proposeButton:hover {
    background-color: #0056b3;
}