.backButton {
    display: flex;
    align-items: center;
    position: absolute;
    cursor: pointer;
    left: 15px;
    top: 0;

    .img {
        margin-left: 0px;
        margin-right: 5px;
        transform: translateX(0px);
        transition: margin-left 0.3s ease-in-out, transform 0.3s ease-in-out;
    }

    &:hover {
        .img {
            margin-left: 15px;
            transform: translateX(-10px);
            transition: margin-left 0.3s ease-in-out, transform 0.3s ease-in-out;

        }
    }
}