.pagination {
    display: flex;
    justify-content: center;
    gap: 15px;

    .paginationItem {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 2px solid rgba(var(--gray1), 1);
        cursor: pointer;
        transition: .3s;

        div {
            font-size: 18px;
            color: rgba(var(--gray1), 1);
        }

        &:hover {
            border: 2px solid rgba(var(--green), 1);

            div {
                color: rgba(var(--green), 1);
            }
        }

        &.active {
            border: 2px solid rgba(var(--green), 1);

            div {
                color: rgba(var(--green), 1);
            }

            &:hover {
                cursor: default;

                border: 2px solid rgba(var(--green), 1);

                div {
                    color: rgba(var(--green), 1);
                }
            }
        }
    }

}