.tasks {
    &-enter {
        opacity: 0;
        transform: translateX(-20px);
    }

    &-enter-active {
        opacity: 1;
        transform: translateX(0);
        transition: opacity 200ms, transform 200ms;
    }

    &-exit {
        opacity: 1;
        transform: translateX(0);
    }

    &-exit-active {
        opacity: 0;
        // transform: translateX(-20px);
        transition: opacity 200ms, transform 200ms;
    }
}