.container {
    margin-bottom: 80px;
    padding-top: 30px;
}

.title {
    text-align: center;
    margin-bottom: 60px;
}

@media screen and (max-width: 768px) {
    .container {
        margin-bottom: 40px;
    }

    .title {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}